.campo {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	color: var(--texto)
}

.label {
	font-weight: 500;
	line-height: 20px;
	color: var(--cinza6)
}

.inputContainer {
	border: 2px solid var(--cinza2);
	background-color: var(--bg-principal);
	border-radius: 20px;
	width: 100%;
	padding: 1em;
	margin-top: .5em;
    display: flex;
}

.inputOculto {
    width: 0;
}

.inputOculto:focus {
    outline: none;
}

.inputContainer:has(.inputOculto:focus) {
    outline: 2px solid var(--accent-color);
}
