.container {
    width: var(--larguraPag);
    margin-inline: auto;
    padding-block: 2rem 4rem;
}

.titulo {
    font-size: 2rem;
    font-weight: 400;
    color:var(--accent-color)
}

.corpo {
    display: flex;
    gap: 2rem;
    padding-block: 2rem;
}

.main {
    flex-grow: 1;
}

.subtitulo {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.operacoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin-bottom: 1.2rem;
}

.extrato {
    width: 100%;

    th, td {
        padding: 1rem;
        text-align: center;
    }

    th {
        background-color: var(--accent-color);
        color: var(--bg-principal);
    }

    td {
        border: 1px solid var(--cinza2);
    }
}
