.container {
    width: min(90%, 600px);
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    height: min(100vh, 500px);
}

.tabela {
    border: 1px solid var(--cinza2);
    margin-inline: auto;
    background-color: var(--bg-principal);
    
    td, th {
        padding: 1rem;
        font-size: 1rem;
    }
    
    th {
        background-color: var(--accent-color);
        color: var(--bg-principal)
    }
    
    td {
        border: 1px solid var(--cinza2);
    }
}

.botaoContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 150px;
}