.servicos {
    width: var(--larguraPag);
    margin-inline: auto;
}

.titulo {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    margin: 1em 0;
}

.listaServicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4em 0;
}

.listaServicos li {
    background-color: var(--cinza1);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.25);
}

.subtitulo {
    background-color: var(--accent-color);
    color: var(--bg-principal);
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: .5em 0;
}

.imagem {
    display: block;
    width: 300px;
}