.container {
    width: var(--larguraPag);
    margin: 2em auto;
}

.formulario {
    margin: 3em auto;
    width: 30vw;
}

.formCabecalho {
    margin: 3em 0;
    text-align: center;

    img {
        width: 80%;
    }
}

.titulo {
	margin: 1em 0;
	font-weight: 600;
	font-size: 28px;
	line-height: 1.2;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.mensagemErro {
    color: var(--vermelho);
    line-height: 1.25rem;
}

.botaoSubmeter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}