.cabecalho {
	display: flex;
	align-items: center;
    justify-content: space-between;
    width: var(--larguraPag);
	margin: 2em auto;
}

.logo {
	font-family: var(--fonte-logo);
	font-size: 28px;
	color: var(--accent-color);
	width: 120px;
}

.sair {
    font-size: 20px;
    color: var(--texto);
    transition: all ease-in-out .3s;
}

.sair:hover {
    color: var(--vermelho)
}
