.container {
    width: min(90%, 600px);
    margin: 4rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.botaoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
 }